<html>
    <head>
        <body>
            <h2>Select Game Type:</h2>
            <form>
                <label for="player-type">Choose player type:</label>
                <select id="player-type" name="player-type">
                    <option value="player">Player vs. Player</option>
                    <option value="computer">Player vs. Computer</option>
                </select>
                <br><br>
                <div>
                    <label for="game-type">Choose game type:</label>
                    <select id="game-type" name="game-type">
                        <option value="standard">Standard Chess</option>
                        <option value="blitz">Blitz Chess</option>
                        <option value="bullet">Bullet chess</option>
                    </select>
                    <br><br>
                </div>
                <input type="submit" value="Start Game">
            </form>
        </body>
    </head>
</html>