.profileBar{
    padding: 25px 50px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    background-color: #dfdfdf;
    text-align: center;
}
.rowPad{
    padding: 25px 5px;
}
.tableRules{
   display: flex;
   align-items: center;
   justify-content: center;
}