

        <script type="text/javascript" src="../../js/callbacks.js"></script> 
    <script type="text/javascript" src="../../js/chessHandler.js"></script> 

    <link rel="stylesheet" href="../../css/boardCSS.css">




<button type="button" class="btn btn-success" onclick="startGame()" id = "startGameButton">Start Game</button>


<div class="container">
  <h2 id="currentTeamText"></h2>
  <div id="whiteCasualitiesD">
    <span>White Pieces lost: </span>
    <span id="whiteCasualities"></span>
  </div>
  </div>
    <canvas id="chessCanvas" width="480" height="480"></canvas>
<div class="container">

  <div id="blackCasualtiesD">
    <span>Black Pieces lost: </span>
    <span id="blackCasualities"></span>
  </div>
  <h2 id="totalVictories"></h2>
</div>
