<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #404040;
        }
        h1 {
            font-family: 'Brush Script MT', cursive;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 75px;
            text-align: center;
        }
        h2 {
            color: white;
        }
        p {
            color: white;
        }
        button {
            background-color: #CD7F32;
            padding: 10px 22px;
            border-radius: 8px;
        }
        #c1 {
            width: 41.8%;
            height: 470%;
            float: left;
            background-image: url('../../resources/img/Chess-Background-photo.jpg');
            background-size: contain;
            padding-top: 20px;
            padding-left: 60px;
            margin-left: 25px;
        }
        #c2 {
            width: 45%;
            height: 470%;
            float: right;
            background-image: url('../../resources/img/Profile-Background-photo.jpg');
            background-size: cover;
            padding-top: 20px;
            padding-left: 60px;
            margin-right: 50px;
        }
        .card {
            width: 92%;
            background-color: #202020;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Deco Chess</h1>
    <ul>
        <div class="container" id="c1">
            <div class="card">
                <h2>Play</h2>
                <p>Go here to select what game type you'd like to play!</p>
                <form action="/playType" method="GET">
                    <button type="submit">Click Here!</button>
                </form>
            </div>
        </div>
        <div class="container" id="c2">
            <div class="card">
                <h2>Profile</h2>
                <p>Go here to access your profile!</p>
                <form action="/profile" method="GET">
                    <button type="submit">Click Here!</button>
                </form>
            </div>
        </div>
    </ul>
</body>
</html>