<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                font-family:Arial, Helvetica, sans-serif;
                background-color: #f2f2f2;
            }

            h2 {
                color: #333;
            }

            form {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                width: 300px;
                margin: 0 auto;
                margin-top: 3%;
            }

            label {
                display: block;
                margin-bottom: 10px;
                color: #666;
            }

            select {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                margin-bottom: 15px;
            }

            input[type="submit"] {
                background-color: #4caf50;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
            }

            input[type="submit"]:hover {
                background-color: #45a049;
            }
        </style>
        <body>
            <form action="/game?game-type={{gameType}}&play-type={{playType}}" method="GET">
                <label for="game-type">Choose game type:</label>
                <select id="game-type" name="game-type" onchange="updateTimerBasedOnGameType(this.value)">
                    <option value="standard">Standard Chess</option>
                    <option value="blitz">Blitz Chess</option>
                    <option value="bullet">Bullet chess</option>
                </select>
                <label for="play-type">Choose player type:</label>
                <select id="play-type" name="play-type">
                    <option value="player">Player vs. Player</option>
                    <option value="computer">Player vs. Computer</option>
                </select>
                <br><br>
                <input type="submit" value="Start Game">
            </form>

            <script src="../../js/timer.js"></script>
            <script src="../../js/chessHandler.js"></script>
        </body>
    </head>
</html>