<!DOCTYPE html>
<html>
    <head>
        <body>
            <h2>Select Game Type:</h2>
            <form action="game.hbs" method="GET">
                <label for="game-type">Choose game type:</label>
                <select id="game-type" name="game-type">
                    <option value="standard">Standard Chess</option>
                    <option value="blitz">Blitz Chess</option>
                    <option value="bullet">Bullet chess</option>
                </select>
                <br><br>
                <input type="submit" value="Start Game">
            </form>
        </body>
    </head>
</html>